<div class="left column">
  <div class="form column">
    <div class="group_1 column">
      <div class="group_4 column">
        <h3 class="h3">Sign up</h3>
        <p class="igx-typography__body-2 text">Don't have an account? Sign up now for free and enjoy thousands of great travel opportunities</p>
      </div>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="myname@website.com" igxInput />
        <label igxLabel>Email</label>
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Min 8 characters" igxInput />
        <label igxLabel>Password</label>
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Min 8 characters" igxInput />
        <label igxLabel>Repeat Password</label>
      </igx-input-group>
      <div class="group group_5 row">
        <div class="group group_2 row">
          <igx-checkbox labelPosition="after" [checked]="true" [indeterminate]="false" class="checkbox">Remember me</igx-checkbox>
        </div>
      </div>
      <button igxButton="raised" igxRipple routerLink="/in-app/dashboard" class="button_1">sign up</button>
    </div>
    <div class="group_3 column">
      <button igxButton="outlined" igxRipple routerLink="/home/login" class="button">Already have a registration?</button>
    </div>
  </div>
</div>
<div class="right column"></div>
